.context-menu {
  position: fixed;
  z-index: 1050;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  min-width: 160px;
}

.context-menu .ant-menu {
  border-radius: 8px;
  border-inline-end: none !important;
}

.context-menu .ant-menu-item {
  height: 36px;
  line-height: 36px;
  margin: 4px 0;
}
