.file-grid {
  padding: 16px;
}

.file-grid-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.file-grid-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
