.file-list .ant-table-row {
  cursor: pointer;
}

.file-list .ant-table-row:hover {
  background-color: #fafafa;
}

.file-list .selected-row {
  background-color: #e6f4ff !important;
}

.file-list .selected-row:hover {
  background-color: #bae0ff !important;
}
