.files-page {
  height: 100vh;
  width: 100vw;
}

.files-sider {
  background-color: #fff;
}

.files-sider .ant-layout-sider-trigger {
  display: none;
}

.files-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.files-content {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

@media (max-width: 992px) {
  .files-sider {
    position: fixed !important;
    height: 100%;
    z-index: 100;
  }
}
